@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap");

:root {
  --ring: 0 0 #0000;
}

body { @apply antialiased; }

/* Headline animation used in modal */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }